.button-main-db {
  padding: 10px 20px;
  border: 0;
  box-sizing: border-box;
  border-radius: 100000px;
  box-shadow: 0px 2px 8px #999898;
  background-color: $primary-color;
  line-height: 16px;
  outline: none;
  transition: background-color 0.3s, transform 0.3s;

  &:hover {
    background-color: #f9a870;
    transform: scale(1.05);
  }

  text-decoration: none;
  color: inherit;
}
